h1 {
    text-align: center;
    font-size: 40px;
}

img{    
    padding: 0px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.images{
    display: flex;
    justify-content: center;
}

.image1, .image2{
    display: flex;
    flex-direction: column;
    align-items: center;
}




