body{
    background-color: pink;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

img{
    margin: 20px;
}

.sideImage{
    display: flex;
    justify-content: center;
}

.imageOne, .imageTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: white;
}

hr{
    width: 96%;
    margin-top: 40px;
}

footer{
    text-align: center;
    font-size: 20px;
    color: white;
}